<?xml version="1.0"?>
<config>
    <modules>
        <Vasco_Mydigipass>
            <version>1.0.1</version>
        </Vasco_Mydigipass>
    </modules>
    <global>
        <helpers>
            <mydigipass>
                <class>Vasco_Mydigipass_Helper</class>
            </mydigipass>
        </helpers>
        <blocks>
            <Vasco_Mydigipass>
                <class>Vasco_Mydigipass_Block</class>
            </Vasco_Mydigipass>
            <customer>
                <rewrite>
                    <form_register>Vasco_Mydigipass_Block_Customer_Form_Register</form_register>
                </rewrite>
                <rewrite>
                    <widget_name>Vasco_Mydigipass_Block_Customer_Widget_Name</widget_name>
                </rewrite>
                <rewrite>
                    <widget_dob>Vasco_Mydigipass_Block_Customer_Widget_Dob</widget_dob>
                </rewrite>
                <rewrite>
                    <address_edit>Vasco_Mydigipass_Block_Customer_Address_Edit</address_edit>
                </rewrite>
            </customer>
        </blocks>
        <models>
            <mydigipass>
                <class>Vasco_Mydigipass_Model</class>
            </mydigipass>
        </models>
        <resources>
            <mydigipass_setup>
                <setup>
                    <module>Vasco_Mydigipass</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mydigipass_setup>
            <digipass_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </digipass_write>
            <digipass_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </digipass_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <mydigipass>
                <use>standard</use>
                <args>
                    <module>Vasco_Mydigipass</module>
                    <frontName>mydigipass</frontName>
                </args>
            </mydigipass>
        </routers>
        <layout>
            <updates>
                <mydigipass>
                    <file>mydigipass.xml</file>
                </mydigipass>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <createpost_action_predispatch>
                        <type>singleton</type>
                        <class>mydigipass/observer</class>
                        <method>createPostActionPredispatch</method>
                    </createpost_action_predispatch>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_postdispatch_customer_account_createpost>
                <observers>
                    <createpost_action_postdispatch>
                        <type>singleton</type>
                        <class>mydigipass/observer</class>
                        <method>createPostActionPostdispatch</method>
                    </createpost_action_postdispatch>
                </observers>
            </controller_action_postdispatch_customer_account_createpost>
            <!--<controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <loginpost_action_predispatch>
                        <type>singleton</type>
                        <class>mydigipass/observer</class>
                        <method>loginPostActionPredispatch</method>
                    </loginpost_action_predispatch>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>-->
            <controller_action_postdispatch_customer_account_loginPost>
                <observers>
                    <loginpost_action_postdispatch>
                        <type>singleton</type>
                        <class>mydigipass/observer</class>
                        <method>loginPostActionPostdispatch</method>
                    </loginpost_action_postdispatch>
                </observers>
            </controller_action_postdispatch_customer_account_loginPost>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <vasco_mydigipass>
                                    <title>VASCO MyDIGIPASS</title>
                                </vasco_mydigipass>
                                <config>
                                    <children>
                                        <digipass translate="title" module="translate">
                                            <title>VASCO MyDIGIPASS Configuration</title>
                                        </digipass>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>